body {
    background-image: url("images/watery-grid.jpg");
    background-size: 20%;
    background-repeat: repeat;
}

/*GRID CONTAINER*/
#page-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    column-gap: 50px;
    row-gap: 50px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: start;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

#pfp-bar {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
    width: 350px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 10px 10px rgba(0,0,0,0.3);
    margin-right: 15px;
}

#posts-container {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
    width: 600px;
}

/*PHOTO SIZING*/
.pfp-fit {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.media-fit {
    width: 100%;
}

/*remove gaps btwn lines*/
#pfp-quote {
    padding: 0px;
}

/*POST CONTAINERS*/
.posts {
    background-color: rgba(255,255,255,0.8);
    box-shadow: 10px 10px rgba(0,0,0,0.3);
}